@import "../../project/thumbs/thumbs.scss";
@import "../../project/fulls/fulls.scss";

html {
  &.delivering-the-message {
    .article {
      .picture {
        @include tablet {
          padding: $lem !important;
        }
      }
    }

    .thumbs {
      @include thumbs;
    }

    .fulls {
      @include fulls;
    }
  }
}
