@import "--mobile/footnote--mobile.scss";
@import "../footnote/__go-back/footnote__go-back.scss";

@mixin footnote {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include footnote--mobile;

  .link {
    @include link(black-on-white, black-on-white, black-on-white);
  }

  &__link {
    max-width: 15em;
  }

  &__go-back {
    @include footnote__go-back;
  }
}
