@import "../../framework/design/typography/text-style/text-style.scss";
@import "--border/footnotes--border.scss";
@import "../footnote/footnote.scss";

@mixin footnotes {
  flex-basis: 100%;

  @include footnotes--border;
  @include text-style(article-body-text);

  h3 {
    display: flex;
    flex-direction: column;
    @include word-wrap;
  }

  .footnote {
    @include footnote;
  }
}
